sqlalchemy
psycopg2-binary

streamlit
scipy
redis
pytest

pandas
numpy
scikit-learn
xgboost
joblib

fastapi
uvicorn
pydantic

streamlit

sqlalchemy
psycopg2-binary

redis

scipy

mlflow

pytest

requests
